<div class="devices-manager-container">
	<div class="title"><h4>Available devices : </h4></div>
	<div class="devices-container">
		<div class="row" style="margin-bottom : 10px; margin-left: 4px;">
		</div>
		<div class="row separated-row" *ngFor="let deviceGroup of devices">
			<div class="col-sm-4" *ngFor="let device of deviceGroup">
				<div *ngIf="device !== null && device != 'LAST'" class="col-container">
					<div class="row device-header">
						<strong class="col-sm-8 no-margin no-padding">{{device.name}}</strong>
						<div class="col-sm-2 no-margin no-padding clickable aligned-right"><a style="color: white;" href="/devices/edit/{{device.id}}" class="fa fa-pencil"></a></div>
						<div class="col-sm-2 no-margin no-padding clickable aligned-right"><a style="color: pink;" (click)="deleteDevice(device.id)" class="fa fa-trash stopped-device"></a></div>
					</div>
					<div class="row middle-high-row">
						<div class="col-sm-4 vertical-aligned">
							<img *ngIf="device.type === 'DS18B20'" tooltip="Lancer la mesure" src="assets/pictures/thermometer-{{device.state}}.png" class="device-picture" />
							<img class="center-align-picture" *ngIf="device.type === 'VALVE'" tooltip="Lancer la mesure" src="assets/pictures/valve-{{device.state}}.png" class="device-picture" />
							<img class="center-align-picture" *ngIf="device.type === 'ENGINE_RELAY'" tooltip="Démarrer" src="assets/pictures/engine-{{device.state}}.png" class="device-picture" style="font-size: 5em;" />
						</div>
						<div class="col-sm-8" *ngIf="device.type === 'DS18B20'">
							<span class="temperature-value">{{device.temperature}}°C</span>
						</div>
						<div class="col-sm-8 vertical-aligned" *ngIf="device.type === 'VALVE' || device.type === 'ENGINE_RELAY'">
							<a (click)="toggleDevice(device)" class="clickable state-value" [ngClass]="device.state === 'UP' ? 'active-device fa fa-toggle-on' : 'idle-device fa fa-toggle-off'"></a>
						</div>
					</div>
					<div *ngIf="device == 'LAST'" class="col-container centered-col" style="vertical-align: middle; padding: 15%;">
						<i class="fa fa-plus" style="color : green; font-size : 40px; text-align: center;"></i>
					</div>
				</div>
				<div *ngIf="device == 'LAST'" class="col-container">
					<div class="row device-header">
						<div class="col-sm-8 no-margin no-padding">Add new device</div>
					</div>
					<div class="temperature-value">
						<a href="/devices/create">
							<i class="fa fa-plus" style="color : green; font-size : 40px; text-align: center;"></i>
						</a></div>
					</div>
				</div>
			</div>
<!--	<div class="row header-row">
		<div class="col-xs-5 col-sm-5">Device</div>
		<div class="col-xs-2 col-sm-2">On/Off</div>
		<div class="col-xs-5 col-sm-5">Actions</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-sm-5">DS18B20 Cuve 1</div>
		<div class="col-xs-2 col-sm-2">
			<ngx-toggle
				onColor="{{model.onColor}}"
				onText="{{model.onText}}"
				offColor="{{model.offColor}}"
				offText="{{model.offText}}"
				[disabled]="model.disabled"
				[size]="model.size"
				[(value)]="model.value">
			</ngx-toggle>
		</div>
		<div class="col-xs-5 col-sm-5"><i class="fa fa-pencil" style="font-size: 1.5em;"></i> <i class="fa fa-trash" style="font-size: 1.5em;"></i></div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-sm-5">Relay pump 1</div>
		<div class="col-xs-2 col-sm-2">
			<ngx-toggle
			onColor="{{model.onColor}}"
			onText="{{model.onText}}"
			offColor="{{model.offColor}}"
			offText="{{model.offText}}"
			[disabled]="model.disabled"
			[size]="model.size"
			[(value)]="model.value">
		</ngx-toggle>
	</div>
	<div class="col-xs-5 col-sm-5"><i class="fa fa-pencil" style="font-size: 1.5em;"></i> <i class="fa fa-trash" style="font-size: 1.5em;"></i></div>
</div>-->
</div>