


.devices-container{
	height : 100%;
	min-height: 200px;
	position: relative;
	margin: 10% auto;
	background-color: white;
	text-align: center;
	padding : 10px;
	border-radius: 5px;
}

.header-row{
	background-color: #444444;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin-bottom: 5px; 
}
.middle-high-row{
	height : 100px;
}
.high-row{
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 5px;
	margin-bottom: 10px;
	vertical-align: middle;
	height: 140px;

}
.no-margin {
	margin-left: 0px;
	margin-right: 0px;
}
.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
.center-align-picture {
	margin: auto;
}
.col-container{
	border :1px dashed black;
	vertical-align: middle;
	padding: 5px;
	width: 200px;
	border-radius: 10px;
	height: 100%;
}
.device-picture {
	width: 70px;
	height: 70px;
	margin : 5px;
}
.temperature-value{
	font-size: 29px;
	text-align: left;
	height : 60%;
	width: 50%;
	font-weight: bold;
	float: right;
	vertical-align: middle;
}

.active-device {
	color: green;
}
.idle-device {
	color: grey;
}
.stopped-device {
	color: red;
}

@media screen and (max-width: 500px) {

	.devices-container{
		width: 95%;
	}
	.col-xs-5{
		width: 40%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-xs-2{
		width: 20%;
	}
}
@media screen and (min-width: 500px) {
	.devices-manager-container{
		margin-left: 80px;
	}
	.devices-container{
		width: 90%;

	}
}