<div class="devices-manager-container">
	<div class="title">
		<h4>Available devices : </h4>
	</div>
	<div class="devices-container">
		<mat-grid-list [cols]="breakpoint" rowHeight="150px">
			<mat-grid-tile *ngFor="let device of devices$ | async" (window:resize)="onResize($event)">
				<mat-card class="card-picture">
					<mat-card-title>
						<span>{{device.name}}</span>
						<img src="assets/pictures/{{device.type}}-{{device.state}}.png" class="device-picture" />
					</mat-card-title>
					<mat-card-content>
						<span *ngIf="device.type === 'thermometer'">
							<span class="temperature-value">18</span>
							<span class="temperature-unit">°C</span>
						</span>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button (click)="openBatchRequestPopup(device)"
							*ngIf="device.state === 'DOWN' || device.state === 'STOPPED'">
							<i class="material-icons">
								play_arrow
							</i>
						</button>
						<button mat-button (click)="stopDevice(device)"
							*ngIf="device.state === 'UP' || device.state === 'STARTED'">
							<i class="material-icons">
								stop
							</i>
						</button>
						<button mat-button (click)="deleteDevice(device.uuid)">
							<i class="material-icons">
								delete
							</i>
						</button>
					</mat-card-actions>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>