<div class="brew-container">
	<div class="title">
		<h4>Liste des brassins</h4>
	</div>
	<div class="brew-list-container table-responsive">
		<table mat-table [dataSource]="brewList" class="table table-striped table-light table-hover">
			<ng-container matColumnDef="position">
				<th mat-header-cell scope="col">Date</th>
				<td mat-cell *matCellDef="let element"> {{element.date}}</td>
			</ng-container>
			<ng-container matColumnDef="position">
				<th mat-header-cell scope="col">Etat</th>
				<td mat-cell *matCellDef="let element"> {{element.date}}</td>
			</ng-container>

			<ng-container matColumnDef="position">
				<th mat-header-cell scope="col" class="equivalent-col-5">Bière</th>
				<td mat-cell *matCellDef="let element"> {{element.date}}</td>
			</ng-container>
			<ng-container matColumnDef="position">
				<th mat-header-cell scope="col">Stock</th>
				<td mat-cell *matCellDef="let element"> {{element.date}}</td>
			</ng-container>
			<ng-container matColumnDef="position">
				<th mat-header-cell scope="col" class="equivalent-col-5">Actions</th>
				<td mat-cell *matCellDef="let element"> {{element.date}}</td>
			</ng-container>
		</table>
	</div>
</div>