 <div class="top-bar">
    <span *ngIf="!sidebarHidden" style="position: relative; background-color: transparent;" (click)="toggleSidebar()">
    <i class="material-icons" style=" margin: 10px;height : 50px !important; background-color: transparent;">menu</i>
</span>
</div>
<div class="area"></div>

    <nav class="main-menu" *ngIf="sidebarHidden">
    <ul>
        <li>
            <a (click)="toggleSidebar()">
                    <i class="material-icons">
                            close
                        </i>
                <span class="nav-text">
                    Close
                </span>
            </a>

        </li><br>
        <li>
            <a routerLink="/dashboard">
                <i class="material-icons">
                        home
                    </i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>

        </li><br>
        <li class="has-subnav">
            <a routerLink="brew/list">
                <i class="material-icons">
                        list
                    </i>
               <span class="nav-text">
                Brassins
            </span>
        </a>

    </li>
    <br>
    <li class="has-subnav">
        <a routerLink="devices/manage">
            <i class="material-icons">
                    devices
                </i>
           <span class="nav-text">
            Périphériques
        </span>
    </a>

</li><br>
<li>
    <a routerLink="params">
            <i class="material-icons">
                    settings
                </i>
        <span class="nav-text">
            Paramètres
        </span>
    </a>
</li>  
</ul>
</nav>