<div class="brew-creation-container">
	
	<div class="row brew-timeline-header"> 
		<ul class="progressbar">
			<li [ngClass]="selectedStep == 'inputs' ? 'active' : ''"><a (click)="routeToView('inputs')">Ingredients</a></li>
			<li [ngClass]="selectedStep == 'mashing' ? 'active' : ''"><a (click)="routeToView('mashing')">Mashing</a></li>
			<li [ngClass]="selectedStep == 'filtering' ? 'active' : ''"><a (click)="routeToView('filtering')">Filtering</a></li>
			<li [ngClass]="selectedStep == 'boiling' ? 'active' : ''"><a (click)="routeToView('boiling')">Boiling</a></li>
			<li [ngClass]="selectedStep == 'fermentation' ? 'active' : ''"><a (click)="routeToView('fermentation')">Fermentation</a></li>
			<li [ngClass]="selectedStep == 'second-fermentation' ? 'active' : ''"><a (click)="routeToView('second-fermentation')">Second fermentation</a></li>
			<li [ngClass]="selectedStep == 'conditioning' ? 'active' : ''"><a (click)="routeToView('conditioning')">Conditioning</a></li>
		</ul>
	</div>
	
	
	<div id="selectedStep" class="step-container">
		<div style="margin: auto 0; position: relative;" #target>	
			
		</div>
	</div>
	
</div>