<div ng-controller="BrewController as brewController">

	<ng-include src="tpl/header.jsp"></ng-include>



	<div class="container-fluid">

		<div class="row-fluid">
			<ng-include src="tpl/sidebar.jsp"></ng-include>
			<!--/span-->
			<div class="span9" id="content">

				<!--/span-->
				<div id="submissionFailed" class="alert alert-error"
					ng-show="brewController.showErrors">
					<button class="close" data-dismiss="alert">&times;</button>
					<strong>Error!</strong> {{ brewController.submissionFailureMessage
					}}
				</div>
				<div id="submissionSuccess" class="alert alert-success"
					ng-show="brewController.showSuccess">
					<button class="close" data-dismiss="alert">&times;</button>
					<strong>Success!</strong> {{
					brewController.submissionSuccessMessage }}
				</div>
				<div class="block">
					<div class="navbar navbar-inner block-header">
						<div class="muted pull-left"
							style="font-weight: bold; text-align: center;">{{brewController.brew.name}}</div>
					</div>
				</div>

				<div class="block">
					<div class="navbar navbar-inner block-header">
						<div class="muted pull-left" style="font-size: 10px;">
							Reload avery (ms) : <input type="text" id="delay" name="delay"
								ng-model="brewController.updateDelay" /> Points displayed : <input
								type="text" id="maxPts" name="maxPts"
								ng-model="brewController.defaultmaxPtsValue" /> Range (minutes
							: <input type="text" id="range" name="range"
								ng-model="brewController.defaultRangeInMinutes" />
						</div>
					</div>
				</div>
				<!-- Loop over each step -->
				<div class="row-fluid"
					ng-repeat="step in brewController.currentFullBrew.steps">
					<div class="span6">
						<!-- block -->
						<div class="block">
							<div class="navbar navbar-inner block-header">
								<div class="muted pull-left">Etape</div>
								<div class="pull-right">
									<button class="btn">
										<i class="icon-play"
											ng-click="toggleStepForReal(true, step.id)"></i>
									</button>
									<button class="btn">
										<i class="icon-stop"
											ng-click="toggleStepForReal(false, step.id)"></i>
									</button>
								</div>
							</div>
							<div class="block-content collapse in">
								<table class="table table-striped" style="table-layout: fixed;">
									<thead>
										<tr>
											<th>#</th>
											<th>Label</th>
											<th>Duree</th>
											<th>Temperature</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{step.number}}</td>
											<td>{{step.name}}</td>
											<td>{{step.duration}}</td>
											<td>{{step.theoreticalTemperature}}</td>
										</tr>

										<tr>
											<td colspan="4"><span
												ng-repeat="actioner in step.actioners"> <img
													ng-click="changeActionerState(actioner.id, step.id, actioner.$index)"
													class="actioner.class" id="IMGACT{{actioner.uuid}}"
													style="height: 40px; width: 50px;"
													src="{{actioner.picture}}" />
											</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /block -->
					</div>
					<div class="span6">
						<!-- block -->
						<div class="block">
							<div class="navbar navbar-inner block-header">
								<div class="muted pull-left">Etape</div>
								<div class="pull-right">
									<span class="badge badge-info">{{step.number}}</span>

								</div>
							</div>

							<md-content> <md-tabs md-dynamic-height
								md-border-bottom> <md-tab
								ng-repeat="actioner in step.actioners"
								ng-if="actioner.type == 1" label="{{actioner.uuid}}"> <md-content
								class="md-padding">
							<canvas class="chart chart-line"
								chart-data="actioner.chart[0].data"
								chart-series="actioner.chart[0].series"
								chart-labels="actioner.chart[0].labels"
								chart-options="brewController.chartOptions" />
							</md-content> </md-tab> </md-tabs> </md-content>
						</div>
						<div class="block-content collapse in"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">

			<!-- block -->
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">Ajouter une etape</div>
					<div class="pull-right">
						<span class="badge badge-info">{{brewController.currentFullBrew.steps.length}}</span>

					</div>
				</div>
				<div class="block-content collapse in">
					<form name="addAStepForm" class="form-horizontal" ng-submit="brewController.addAStep(addAStepForm)">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td>Label</td>
									<td><input type="text" name="step_label"
										ng-model="brewController.addedStep.label" /></td>

									<td>Type d'étape</td>
									<td><select name="step_stepType"
										ng-model="brewController.addedStep.stepType">
										<option ng-repeat="stage in brewController.stepTypes" value="{{stage}}">{{stage}}</option>
										
										</select>
										
										<select ng-if="brewController.addedStep.stepType == 'PALIER'" name="step_stageType"
										ng-model="brewController.addedStep.stageType">
										<option ng-repeat="stage in brewController.stageTypes" value="{{stage}}">{{stage}}</option>
										
										</select>
										</td>
								</tr>
								<tr>
									<td>Debut (<span ng-click="brewController.beginNow()">Maintenant</span>)</td>
									<td id="stepBeginningAdd">
											<md-datepicker ng-model="brewController.addedStep.beginningDate"
												md-placeholder="Enter date"></md-datepicker>
									</td>

									<td>Fin</td>
									<td id="stepEndAdd">
											<md-datepicker md-placeholder="Date"
												ng-model="brewController.addedStep.endDate"></mdp-date-picker>
									</td>
								</tr>
								<tr>
								<td></td>
									<td><mdp-time-picker ng-model="brewController.addedStep.beginningTime"></mdp-time-picker>
									</td>
									<td></td>
									<td><mdp-time-picker ng-model="brewController.addedStep.endTime"></mdp-time-picker>
									</td>

								</tr>
								<tr>
									<td>Temperature theorique</td>
									<td><input type="text" name="step_temperature"
										ng-model="brewController.addedStep.temperature" /></td>

									<td>Commentaire</td>
									<td><textarea name="step_comment" ng-model="brewController.addedStep.comment"
											rows="3" cols="15"></textarea></td>
								</tr>
								<tr>
									<td>Etape nÂ°</td>
									<td><input type="text" name="step_number"
										ng-model="brewController.addedStep.number"
										value="{{ brewController.currentFullBrew.steps.length }}" /></td>
									<td></td>
									<td></td>
									<td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td><button type="submit" class="btn btn-primary">+</button></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<!-- /block -->
			</div>
		</div>
		<div class="row-fluid">
			<!-- block -->
			<div class="block">

				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">Profil complet de temperature</div>

				</div>


			</div>
		</div>
		<div class="row-fluid">
			<!-- block -->
			<div class="block">

				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">Biere</div>
				</div>
				<div class="block-content collapse in">
					<table class="table table-striped">

						<tr>
							<td style="width: 20%;">Nom :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.name}}</td>
							<td style="width: 20%;">Style :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.style}}</td>
						</tr>
						<tr>
							<td style="width: 20%;">Taux d'alcool :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.alcoholRate}}</td>
							<td style="width: 20%;">Densite :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.density}}</td>
						</tr>
						<tr>
							<td style="width: 20%;">Couleur (EBC) :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.colorEBC}}</td>
							<td style="width: 20%;">Aromes :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.aroma}}</td>
						</tr>
						<tr>
							<td style="width: 20%;">Note / 10 :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.rating}}</td>
							<td style="width: 20%;">Bulles :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.bubbles}}</td>
						</tr>
						<tr>
							<td style="width: 20%;">Commentaire :</td>
							<td style="width: 80%;" colspan="3">{{
								brewController.currentFullBrew.beer.comment}}</td>
						</tr>

						<tr>
							<td style="width: 20%;">Embouteillees :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.bottledTotal}}</td>
							<td style="width: 20%;">Restantes :</td>
							<td style="width: 30%;">{{
								brewController.currentFullBrew.beer.remainingBtl}}</td>
						</tr>

						<tr>
							<td style="width: 20%;">Progression :</td>
							<td style="width: 30%;">


								<div
									ng-if="brewController.currentFullBrew.beer.percentageDrunk < 33"
									class="progress progress-striped progress-success active">
									<div style="width: {{" class="bar"></div>
								</div>

								<div
									ng-if="brewController.currentFullBrew.beer.percentageDrunk >= 33 && brewController.currentFullBrew.beer.percentageDrunk < 66"
									class="progress progress-striped progress-warning active">
									<div style="width: {{" class="bar"></div>
								</div>
								<div
									ng-if="brewController.currentFullBrew.beer.percentageDrunk > 66"
									class="progress progress-striped progress-danger active">
									<div style="width: {{" class="bar"></div>
								</div>
							</td>
							<td style="width: 20%;">Premiere goulee :</td>
							<td style="width: 30%;">
								{{brewController.currentFullBrew.beer.firstDrinkDate | date:
								'dd/mm/yyyy'}}</td>
						</tr>

					</table>

				</div>

			</div>
		</div>

	</div>
</div>
</div>
<ng-include src="tpl/footer.jsp"></ng-include>
</div>