<div ng-controller="BrewController as brewController">

	<ng-include src="tpl/header.jsp"></ng-include>


	<div class="container-fluid">

		<div class="row-fluid">
			<ng-include src="tpl/sidebar.jsp"></ng-include>
			<!--/span-->
			<div class="span9" id="content">



				<div ng-cloak>
					<md-content> <md-tabs md-dynamic-height
						md-border-bottom>
					<div ng-repeat="actioner in step.actioners">

						<md-tab ng-if="actioner.type == 1" label="{{actioner.uuid}}">
						<md-content class="md-padding">

						<canvas class="chart chart-line" chart-data="actioner.chart.data"
							chart-series="actioner.chart.series"
							chart-labels="actioner.chart.labels"
							chart-options="brewController.chartOptions">

												</canvas>

						</md-content> </md-tab>
					</div>
					</md-tabs> </md-content>
				</div>
			</div>
		</div>
	</div>
</div>