<div ng-controller="BrewCreationController as brewCreationController">

	<!--/span-->
	<div class="span9" id="content">
		<div id="submissionFailed" class="alert alert-error"
			ng-show="brewCreationController.showErrors">
			<button class="close" data-dismiss="alert">&times;</button>
			<strong>Error!</strong> {{
			brewCreationController.submissionFailureMessage }}
		</div>
		<div id="submissionSuccess" class="alert alert-success"
			ng-show="brewCreationController.showSuccess">
			<button class="close" data-dismiss="alert">&times;</button>
			<strong>Success!</strong> {{
			brewCreationController.submissionSuccessMessage }}
		</div>
		<!-- block -->
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">Création nouveau brassin</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">

					<form name="addBrewForm"
						ng-submit="brewCreationController.processBrewCreation(addBrewForm)">

						<table class="table table-striped">
							<tbody>
								<tr>
									<td>Description</td>
									<td><input type="text"
										ng-model="brewCreationController.brew.description"
										ng-required="true"></td>
								</tr>

								<tr>
									<td>Début</td>
									<td><md-datepicker md-placeholder="Date"
											ng-model="brewCreationController.brew.beginningJS"
											ng-required="true"></md-datepicker></td>
								</tr>

								<tr>
									<td>Fin</td>
									<td><md-datepicker md-placeholder="Date"
											ng-model="brewCreationController.brew.endJS"
											ng-required="true"> </md-datepicker></td>
								</tr>

								<tr>
									<td>Quantité</td>
									<td><input type="text"
										ng-model="brewCreationController.brew.quantity"
										ng-required="true"></td>
								</tr>

								<tr>
									<td>Type</td>
									<td><input type="text"
										ng-model="brewCreationController.brew.type" ng-required="true"></td>
								</tr>

								<tr>
									<td>Statut</td>
									<td><select ng-model="brewCreationController.brew.status"
										ng-options="status for status in brewCreationController.statuses"></select></td>
								</tr>

								<tr>
									<td></td>
									<td><button type="submit" class="btn btn-primary">+</button></td>
								</tr>
							</tbody>
						</table>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>