<!DOCTYPE html>
<html ng-app="brewspberry" class="no-js">

<head>
<title>BrewViewer</title>
<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<link href="vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
	<link href="assets/styles.css" rel="stylesheet" media="screen">


<link href="vendors/jGrowl/jquery.jgrowl.css" rel="stylesheet" />
<link href="css/connection/style.css" rel="stylesheet"
	media="screen">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif] -->
<script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="vendors/angular.min.js"></script>
<script src="vendors/angular-messages.min.js"></script>
<!-- <script src="js/connection/index.js"></script> -->
	<script src="js/app.js"></script>
	<script src="js/utils/constants.js"></script>
	<script src="js/service/UserService.js"></script>
	<script src="js/controllers/registrationController.js"></script>
	<script src="js/directives/compareTo.js"></script>

        <script>

     $(function() {
        $( "#birthday" ).datepicker();
      });
    </script>
</head>


<body ng-controller="RegistrationController as registration">

	<hgroup>
  		<h1>Brewspberry connection page</h1>

	</hgroup>
	<div id="submissionFailed" class="alert alert-error" ng-show="registration.showErrors">
		<button class="close" data-dismiss="alert">&times;</button>
		<strong>Error!</strong> {{ registration.submissionFailureMessage }}
	</div>
	<div id="submissionSuccess" class="alert alert-success" ng-show="registration.showSuccess">
		<button class="close" data-dismiss="alert">&times;</button>
		<strong>Success!</strong> {{ registration.submissionSuccessMessage }}
	</div>

	<form name="registerForm" ng-submit="registration.handleClickRegisterForm(registerForm)">

		<fieldset name="Login info">
			<div class="group">
		    	<label>Username</label>
		  		<input type="text" name="username" id="username" ng-model="user.username" required ng-minlength="3">
				<span class="highlight"></span><span class="bar"></span>
				<span id="v_username" ng-messages="registration.registerForm.user.username.$error">
				<span ng-messages-include="assets/formErrorMessages.html"></span></span>
			</div>
		
			<div class="group">
		    	<label>Email</label>
		  		<input type="email" name="email" id="email" ng-model="user.email" required>
				<span class="highlight">
				</span><span class="bar"></span>
		  		<span id="v_email" ng-messages="registerForm.user.email.$error">
				<span ng-messages-include="assets/formErrorMessages.html"></span>
				</span>
			</div>
		
			<div class="group">
				<label>Password</label>
				<input type="password" name="password" id="password" ng-model="user.password" required ng-minlength="4">
				<span class="highlight"></span><span class="bar"></span>
				<span id="v_password" ng-messages="registerForm.user.password.$error">
					<span ng-messages-include="assets/formErrorMessages.html"></span></span>
			</div>

			<div class="group">
				<label>Repeat password</label>
				<input type="password" id="repeat_password" ng-model="user.confirmPassword" brew-match="user.password" required><span class="highlight"></span>
				<span class="bar"></span>
				<span id="v_repeat_password"
					  ng-messages="registerForm.user.confirmPassword.$error.match">
					<span ng-messages-include="assets/formErrorMessages.html"></span></span>
			</div>
		</fieldset>
  
  
		<fieldset name="User info">

			<div class="group">
				<label>First name</label>
				<input type="text" name="first_name" id="first_name" ng-model="user.prenom"><span class="highlight"></span>
				<span class="bar"></span>
				<span id="v_first_name"></span>
			</div>
			<div class="group">
				<label>Last name</label>
				<input type="text" name="last_name" id="last_name" ng-model="user.nom"><span class="highlight"></span>
				<span class="bar"></span>
				<span id="v_last_name"></span>
			</div>

			<div class="group">
				<label>Age</label>
			  <input type="text" name="age" ng-model="user.age">
			  </span><span class="bar"></span>
				<span id="v_age" ng-messages="registerForm.user.age.$error"></span>
			</div>

		</fieldset>

	<!--<input type="hidden" name="formType" id="formType" value="registration" ng-disabled="registrationForm.$invalid">-->
		<input type="submit"
				/>
		</span>
	</div>
</form>

</body>
</html>
