@media screen and (min-width: 500px) {
	.brew-container{
		margin-left: 80px; 
		margin-right: 20px;
	}

	.equivalent-col-5{
		width: 20%;
		text-align: center;
	}
	.fa{
		width: 50px;
	}
}

@media screen and (max-width: 500px) {
	.mobile-hidden{
		display: none;
	}
	.equivalent-col-5{
		width: 50%;
		text-align: center;
	}
}
.brew-container{
	padding: 5px; 
}
.title{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin: 20px 0;
}

table{
	width: 100%;
}

thead {
	width: 100% !important;
}


.brew-list-container{
	background-color: white;
	border-radius: 10px;
	margin : auto;
	position: relative;
}
