<div class="login-container">
	
	<div class="login-form-container">
		<div class="inner-login-form">
			<form name="login-form" class="login-form">
				<div class="row">
					<div class="col-sm-12 form-group"><input type="text" class="form-control" name="login" placeholder="Login"></div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group"><input type="password" class="form-control" name="password" placeholder="Mot de passe"></div>
				</div>
				<div class="row form-group">
					<div class="col-sm-12"><input type="checkbox" name="keep-me" style="margin-right: 10px;"> <label for="keep-me">Rester connect&eacute;</label></div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<button type="submit" class="form-control btn-primary" name="submit">Connexion</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>