<h1 mat-dialog-title>Batch</h1>
<div mat-dialog-content>
  <br>
  <br>
  <div *ngIf="dialogInputData.device.type === 'THERMOMETER'" class="block">
    <mat-form-field>
      <input matInput class="half-width" placeholder="Frequency" [(ngModel)]="formData.frequency" />
    </mat-form-field>
    <mat-form-field>
      <mat-select class="half-width" placeholder="Unit" [(ngModel)]="formData.frequencyUnit">
        <mat-option *ngFor="let unit of units" [value]="unit.multiplicator">{{unit.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="block">
    <mat-form-field>
      <input matInput class="half-width" placeholder="Duration" [(ngModel)]="formData.duration" />
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Unit" class="half-width" [(ngModel)]="formData.durationUnit">
        <mat-option *ngFor="let unit of units" [value]="unit.multiplicator">{{unit.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-button (click)="onSubmit()">Ok</button>
</div>