<div class="brew-creation-container">
	
	<div class="row brew-timeline-header"> 
		<div class="col-large" [ngClass]="selectedStep == 'inputs' ? 'selected-step' : ''"><a (click)="routeToView('inputs')">Ingredients</a></div>
		<div class="col-straight">></div>
		<div class="col-large" [ngClass]="selectedStep == 'mashing' ? 'selected-step' : ''"><a (click)="routeToView('mashing')">Mashing</a></div>
		<div class="col-straight">></div>
		<div class="col-large" [ngClass]="selectedStep == 'filtering' ? 'selected-step' : ''"><a (click)="routeToView('filtering')">Filtering</a></div>
		<div class="col-straight">></div>
		<div class="col-large" [ngClass]="selectedStep == 'boiling' ? 'selected-step' : ''"><a (click)="routeToView('boiling')">Boiling</a></div>
		<div class="col-straight">></div>
		<div class="col-large" [ngClass]="selectedStep == 'fermentation' ? 'selected-step' : ''"><a (click)="routeToView('fermentation')">Fermentation</a></div>
		<div class="col-straight">></div>
		<div class="col-large" [ngClass]="selectedStep == 'second-fermentation' ? 'selected-step' : ''"><a (click)="routeToView('second-fermentation')">Second fermentation</a></div>
		<div class="col-straight">></div>
		<div class="col-large" [ngClass]="selectedStep == 'conditioning' ? 'selected-step' : ''"><a (click)="routeToView('conditioning')">Conditioning</a></div>
	</div>


	<div id="selectedStep" class="step-container">
		<div style="margin: auto 0; position: relative;" #target>	

		</div>
	</div>
	
</div>