.brew-creation-container{
	width: 85%;
	margin: 10px auto;
}

.step-container{
	width: 100%;
	min-height: 500px;
	margin: 10px auto;
	border-radius: 5px;
	background-color: white;
	position: relative;	
}
.brew-timeline-header{
	margin: 0 auto;
	position: relative;	
}

.col-straight{
	text-align: center;
	margin: 0 0;
	background-color: transparent;
	padding : 2px;
}
.col-large{
	text-align: center;
	padding : 5px 10px;
	color: black;
	margin: 0 auto;
	background-color: white;
	border-radius: 5px;
}

.selected-step{
	background-color: grey;
}
.col-large a{
	color : black;
}

