<div class="brew-creation-container">
	
		<div class="row brew-timeline-header"> 
			<div class="col-large">Ingredients</div>
			<div class="col-straight">></div>
			<div class="col-large">Mashing</div>
			<div class="col-straight">></div>
			<div class="col-large">Filtering</div>
			<div class="col-straight">></div>
			<div class="col-large">Boiling</div>
			<div class="col-straight">></div>
			<div class="col-large">Lautering</div>
			<div class="col-straight">></div>
			<div class="col-large">Fermentation</div>
			<div class="col-straight">></div>
			<div class="col-large">Second fermentation</div>
			<div class="col-straight">></div>
			<div class="col-large">Conditioning</div>
		</div>


		<div class="step-container">
			
a

		</div>
	
</div>