.brew-creation-container{
	width: 85%;
	margin: 10px auto;
}

.step-container{
	width: 100%;
	min-height: 500px;
	margin: 10px auto;
	border-radius: 5px;
	background-color: white;
	position: relative;	
}
.brew-timeline-header{
	border-radius: 5px;
	background-color: white;
	margin: 0 auto;
	position: relative;	
	padding: 5px;
}

.col-straight{
	text-align: center;
	margin: 0 auto;

}
.col-large{
	text-align: center;
	margin: 0 auto;
}

